@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .full-screen-image {
        background: url('https://c8.alamy.com/comp/2BKMN02/minimal-line-art-of-workplace-and-the-young-man-sitting-at-the-computer-2BKMN02.jpg') no-repeat 70px 0;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

</style>
<div class="full-screen-image">
</div>