@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forget Password";
}
@model TicketReservation.App.Models.ResetPasswordModel
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Forget Password ?</h1>
                    <h2> Enter Details To Verify Your Account </h2>
                </div>
                <div class="card-body">
                    <form asp-action="@(Model.IsValidated ? "ResetPassword" : "VerifyAccount")" asp-controller="Home" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Username</label>
                            <input asp-for="UserName" class="form-control" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        @if (Model.IsValidated)
                        {
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" style="background-color: #007bff;">@(Model.IsValidated ? "Reset Password" : "Verify Account")</button>
                              <a asp-action="UserPage" asp-controller="Home" class="btn btn-secondary ml-2">Back To HomePage</a>
                            
                            
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
